@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{ 
    var homePage = CurrentPage.AncestorsOrSelf(1).First();
    var newsItems = CurrentPage.Children.Where("Name = @0", "blogItem"); ;
}


@foreach (var blog in newsItems)
{

<li>
    <div class="banner-bottom-grid">
        <img src="@blog.Image" alt=" " class="img-responsive" />
        <p>
            @blog.Intro
        </p>
        <div class="more">
            <a href="@blog.Url" class="hvr-bounce-to-bottom sint">Read More</a>
        </div>
    </div>
</li>
}
