<h3>About Me</h3>
<div class="footer-grd-left">
    <img src="~/App_Plugins/Articulate/Themes/Quickly/Assets/images/IMG_7027.JPG" class="img-responsive" alt=" " />
</div>
<div class="footer-grd-left">
    <p>
        I am an ASP.NET developer and I love coding. I also occasionally dabble with Python when I want to do things data 
        mining. Here you will find a collection of my thoughts and experiences on all things programming. 
    </p>
</div>
