

@foreach (var comment in Model.Content.Children)
{

<div class="comments-top-top">
    <div class="top-comment-left">
        <a href="#"><img class="img-responsive" src="~/images/co.png" alt=""></a>
    </div>
    <div class="top-comment-right">
        <ul>
            <li><span class="left-at"><a href="#">@comment.CommentName</a></span></li>
            <li><span class="right-at">June 30, 2015 at 10.30am</span></li>
            <li><a class="reply" href="#">REPLY</a></li>
        </ul>
        <p>@comment.Message</p>
    </div>
    <div class="clearfix"> </div>
</div>
}
